.image_flat_content {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.image_flat_content > * {
  margin: 0;
}
.col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .col-1, .col-2 {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
  }

  .col-1 img, .col-2 img {
    width: 70%;
    height: auto;
    
  }
  
  .col-1 img {
    width: 70%;
  }
  