.form_house_update {
    background-color: #faf1ed;
    padding-left: 40px;
    margin:auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom : 20px;
}
.form_house_update input {
  padding: 10px;
  text-align: center;
}
.form_house_label {
  display: block;
  margin-bottom: 5px;
}
.form-check-label {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.form-check-input {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
#title {
  width: 500px;
}
.update_description {
  padding: 10px;
}
.house_area_1, .house_area_2, .house_area_3, .house_area_4, .house_area_5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-bottom: 40px;
}

.house_area_1 > div,
.house_area_2 > div,
.house_area_3 > div,
.house_area_4 > div,
.house_area_5 > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.house_area_1 label,
.house_area_2 label,
.house_area_3 label,
.house_area_4 label,
.house_area_5 label {
  grid-row: 1 / 2;
  margin-bottom: 5px;
}

.house_area_1 span,
.house_area_2 span,
.house_area_3 span,
.house_area_4 span,
.house_area_5 span {
  grid-row: 2 / 3;
}
.form_house_update input, textarea {
    border-radius : 25.5px;
}
.form_house_update textarea {
    width: 95%;
    height: 225px;
}
.house_area {
    margin-left:35px;
}


.update_house_btn {
    padding: 0 20px;
    margin-top:30px;
    margin-left:187px;
}