  .login {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #faf1ed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
  }
  
  .login_container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #faf1ed;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    
  }
  
  .login_container .brand-logo {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  }
  .login_container .brand-logo img {
    width: 100%;
    margin-top: 15%;
  }
  .login_container .brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #ff5d5d;
    letter-spacing: 1px;
  }
  
  .login_container .inputs {
    text-align: left;
    margin-top: 30px;
  }
  
  .login_container label, input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  
  .login_container label {
    margin-bottom: 4px;
  }
  
  .login_container label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  .login_container input::placeholder {
    color: gray;
  }
  
  .login_container input {
    background: #faf1ed;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
  .login_container button {
    color: white;
    margin-top: 20px;
    background: #ff5d5d;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  .login_container button:hover {
    box-shadow: none;
  }
