input {
    caret-color: red;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #faf1ed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
}
.container {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1,-14px -14px 20px white;
}
.brand-logo {
    height: 100px;
    width: 100px;
    background: url("/assets/ThinkImmoBackgroundImage.jpg");
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, 7px -7px 10px white;
}