@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
* {
    margin: 0;padding: 0;
    box-sizing: border-box;
    /* background-color: #c8e7d8; */
}

.navbar h2 {
    font-size: 1.5rem;
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration:none;
    color:#000;
    font-size: 1rem;
}
.navbar a:hover {
    color: orange;
}
/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display:flex;
    justify-content: center;
    text-align: center;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 1rem;
}
.navbar img {
    position: relative;
    width: 80px;
    top: -10px;
}
.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn {
    background-color: orange;
    color: #000;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover {
    scale:1.05;
    color:#000;
    -webkit-transition: background-color 0.2s;
    transition: scale 0.2 ease;
}
.action_btn:active {
    scale:0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.dropdown_menu.open {
    height: 60px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* RESPONSIVE DESIGN */


@media(max-width: 1300px){

}
@media(max-width: 1020px){
    .navbar .links, .navbar .action_btn {
        display:none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: flex;
        flex-direction: column;
    }
  
    .dropdown_menu {
        z-index: 1;
    }
}

@media(max-width: 570px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
   
}

/* ---------------------------------------------------------MAIN */


/* ---------------------------------------------------------FOOTER */
footer p, footer strong, footer b, footer {
    color: #b0b0b0;
}

.footer-top {
    background: #303030;
    background-size: cover;
    background-position: center;
    font-family: rubik;
  padding-top:30px;
  
}

.footer-top, .footer-bottom {
    background-color: #1c1f2f;
}

.footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #313646;
    background-color: #181828 !important;
    color: #b0b0b0;
    font-family: rubik;
}

.footer-site-info {
    font-size: 92.86%;
}
#footer-navigation, #footer-navigation li a:hover, .custom-footer, .custom-footer li a:hover {
    color: white;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

.footer-bottom ul {
    margin: 0;
}
.inline-inside {
    font-size: 0;
    line-height: 0;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-navigation, #footer-navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}
#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    border-right: 1px solid #333146;
}


navigation li a, .custom-footer, .custom-footer li a {
    color: #99a9b5;
    padding-top: 15px;
}

#footer-socials {
    text-align: right;
}

#footer-socials .socials {
    text-align: right;
    margin: 0 -7px;
    display: inline-block;
    vertical-align: middle;
}

a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #141421;
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.facebook {
    color: #4e64b5;
}

.twitter {
    color: #00aced;
}
.instagram {
    color: #9a8f62;
}
.youtube {
    color: #c82929;
}

.telegram {
    color: #2ca5e0;
}

a.socials-item:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
    color: white;
    outline: -moz-none;
}


footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}


.widget {
    margin-bottom: 50px;
}

.footer-title {
    margin-bottom: 40px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 15px;
    font-size: 16px;
    position: relative;
}

.footer-title:after {
    width: 50px;
    background: #fff;
    opacity: 0.2;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.gem-contacts-item {
    padding-top: 10px;
    font-size: 15px;
}

.gem-contacts-item i {
    padding-right: 10px;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

.posts li {
    border-bottom: 1px solid #393d50;
    padding-bottom: 12px;
    padding-top: 6px;
}

footer p, footer li {
    font-size: 15px;
    line-height: 22px;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;font-size: 15px;
}

.posts li a {
    color: #99a9b5;
}

.footer-site-info
{
  padding-top: 10px;
}

/* FORM FOOTER */

  .wrapper .side textarea, .side input, .side button {
    line-height: 1.5rem;
    border: 0;
    outline: none;
    font-family: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .wrapper .side .line_area {
    color: #4e5e72;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
  }
 .wrapper .side textarea {
   width: 100%;
   height: 8rem;
   resize: none;
  }
  
 .wrapper button {
   padding: 0.5rem 1rem;
   border-radius: 0.25rem;
   background-color: rgba(78, 94, 114, 0.9);
   color: white;
   font-size: 1rem;
   transition: background-color 0.2s;
  }
  wrapper button:hover,button :focus {
      outline: none;
      background-color: rgba(78, 94, 114, 1);
    }

  .wrapper .letter {
    left: 0;
    right: 0;
    top: 0;
    width: 25rem;
    margin: auto;
  }
 .wrapper .side {
    height: 12rem;
    background-color: #fcfcf8;
    outline: 1px solid transparent;
  }
 .wrapper .side:nth-of-type(1) {
      padding: 2rem 2rem 0;
      border-radius: 1rem 1rem 0 0;
      box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
    }
 .wrapper .side.side:nth-of-type(2) {
      padding: 2rem;
      border-radius: 0 0 1rem 1rem;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.05), inset 0 -0.57rem 2rem rgba(229, 225, 187, 0.5);
      text-align: right;
    }
  
  




